{{# partial "pageTitle" }}{{ text.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <section class="layout-wrap-width layout-wrap-width--wide">

    <header class="layout-header">
      <h1 class="layout-header__title">{{ text.title }}</h1>
      <p class="layout-header__title layout-header__title--standfirst">{{{ text.description }}}</p>
    </header>

    <section class="layout-section">
      {{# text.link }}
        <a class="layout-text" href= "{{ emailPreferencesLink }}">{{ text.link }}</a>
      {{/text.link}}
      <br/>
      <ul class="layout-text">
        <li>{{ text.bullet1 }}</li>
        <li>{{ text.bullet2 }}</li>
        <li>{{ text.bullet3 }}</li>
      </ul>
    </section>


  </section>

{{/ partial }}

{{> layout}}
