{{# partial "pageTitle" }}{{ text.pageTitle }}{{/ partial }}


{{# partial "content" }}

  <section class="layout-wrap-width layout-wrap-width--wide">
    <header class="layout-header">
      <h1 class="layout-header__title">{{ text.title }}</h1>
    </header>

    {{#each errors}}
      <p id="{{id}}" class="form-feedback form-feedback--error form-feedback--hydratable form-field-wrap__field">{{message}}</p>

    {{else}}

      <p class="layout-text">{{ text.description }}</p>

      <form id="resend-token-form" class="resend-consent-form" action="/consent-token/resend" method="GET">
        <input type="hidden" name="token" value="{{ token }}">
        <input type="hidden" name="csrfToken" value="{{ csrfToken.value }}">

        <div class="form-field-wrap">
          <button class="form-button form-button--main form-field-wrap__field" id="resend-consent_submit" type="submit">Resend link {{> components/icon/arrow-inline }}</button>
        </div>

      </form>
    {{/each}}

{{/partial}}
{{> layout}}
