{{# partial "pageTitle" }}{{ registerPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <section class="layout-wrap-width">

    <header class="layout-header">
      <h1 data-commitId="{{ gitCommitId }}" class="layout-header__title">{{ registerPageText.title }}</h1>
      {{# showStandfirst }}
        <p class="layout-header__title layout-header__title--standfirst">
          {{registerPageText.standfirst}}
        </p>
      {{/ showStandfirst }}
    </header>

    <section class="form-field-wrap">
      {{> components/oauth-cta/_oauth-cta-content }}
    </section>

    <p class="form-prelude">
      <span>{{registerPageText.divideText}}</span>
    </p>

    <section class="form-field-wrap">
      {{> components/register-form/_register-form }}
    </section>

    <section class="layout-section">
      <p class="layout-text">{{ registerPageText.signInCta }} <a href="{{ links.signIn }}">{{ registerPageText.signIn }}</a></p>
    </section>

    <footer class="layout-section layout-section--no-border">
      {{> components/terms/_terms-inline }}
    </footer>
  </section>

{{/ partial }}

{{> layout}}
