{{# partial "pageTitle" }}{{ resendLinkEmailSentText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <section class="layout-wrap-width layout-wrap-width--wide">

  {{# unless errors}}
    <header class="layout-header">
      <h1 class="layout-header__title">{{ resendLinkEmailSentText.title }}</h1>
    </header>

    <p class="layout-text">{{{ resendLinkEmailSentText.description }}}</p>
  {{/unless}}

  {{#if errors}}
    <header class="layout-header">
      <h1 class="layout-header__title">{{ resendLinkEmailSentText.unexpectedTitle }}</h1>
    </header>
    <div class="form-field-wrap">
      {{#each errors}}
        <p id="{{id}}" class="form-feedback form-feedback--error form-field-wrap__field">{{message}}</p>
      {{/each}}
    </div>
  {{/if}}

{{/partial}}
{{> layout}}
