{{# partial "pageTitle" }}{{ resetPasswordText.pageTitle }}{{/ partial }}


{{# partial "content" }}

  <section class="layout-wrap-width">
    <header class="layout-header">
      <h1 class="layout-header__title">{{ resetPasswordText.title }}</h1>
      <p class="layout-header__title layout-header__title--standfirst">{{ resetPasswordText.subtitle }}</p>
    </header>

    <form action="{{ actions.reset }}" method="POST">

      <input type="hidden" class="ga-client-id" name="gaClientId" value="">
      <input type="hidden" name="csrfToken" value="{{ csrfToken.value }}">
      <input type="hidden" name="returnUrl" value="{{returnUrl}}">

      {{#each errors}}
        <p id="{{id}}" class="form-feedback form-feedback--error form-field-wrap">{{message}}</p>
      {{/each}}

      <div class="form-field-wrap">

        <label class="form-field-wrap__title" for="reset-password_field_email">{{resetPasswordText.emailAddressField }}</label>
        <input class="form-input form-field-wrap__field" id="reset-password_field_email" type="email" name="email" autocomplete="on" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{email}}" />

        <button class="form-button form-button--main form-field-wrap__field" type="submit">{{resetPasswordText.button}} {{> components/icon/arrow-inline }}</button>
      </div>

    </form>

    <footer class="layout-section">
      <h3 class="layout-text layout-text--bold">{{ resetPasswordText.socialNetworksTitle }}</h3>
      <p class="layout-text layout-text--small">{{ resetPasswordText.socialNetworksContent }}<p>
      <h3 class="layout-text layout-text--bold">{{ resetPasswordText.userHelpTitle }}</h3>
      <p class="layout-text layout-text--small"><a href="mailto:{{ userHelpEmailAddress }}">{{ resetPasswordText.userHelpEmail }}</a> {{ resetPasswordText.userHelpContent }}</p>
    </footer>

  </section>
{{/partial}}
{{> layout}}
