{{# partial "pageTitle" }}{{ resetPasswordEmailSentText.pageTitle }}{{/ partial }}


{{# partial "content" }}

  <section class="layout-wrap-width">

    <header class="layout-header">
      <h1 class="layout-header__title">{{ resetPasswordEmailSentText.title }}</h1>
    </header>

    <div class="form-field-wrap">
      <p class="layout-text">{{ resetPasswordEmailSentText.instructions1 }}</p>
      <p class="layout-text">{{ resetPasswordEmailSentText.instructions2 }}</p>
    </div>

    {{# inboxCtaLink }}
      <div class="form-field-wrap">
        <a href="{{inboxCtaLink}}" data-link-name="inbox-cta : {{inboxCtaText}}" class="form-button form-button--secondary form-field-wrap__field">{{inboxCtaText}} {{> components/icon/arrow-inline }}</a>
      </div>
    {{/inboxCtaLink}}

  </section>

{{/partial}}
{{> layout}}
