{{# partial "pageTitle" }}{{ signInPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <section class="layout-wrap-width layout-wrap-width--wide">

    <header class="layout-header">
      <h1 data-commitId="{{ gitCommitId }}" class="layout-header__title">{{ signInPageText.title }}</h1>
    </header>
    <div class="layout-header">
      <p class="layout-header__title layout-header__title--standfirst">
        {{signInPageText.noAccount}}
        <a href="{{registerUrl}}" class="form-button form-button--black">
          {{signInPageText.signUp}}  {{> components/icon/arrow-inline }}
        </a>
      </p>
    </div>

    <section class="form-field-wrap">
      {{> components/oauth-cta/_oauth-cta-content }}
    </section>

    <p class="form-prelude">
      <span>{{signInPageText.divideText}}</span>
    </p>

    <section class="form-field-wrap">
      {{> components/signin-form/_signin-form }}
    </section>

    <footer class="layout-section">
      {{> components/terms/_terms-inline }}
    </footer>

{{/partial}}

{{> layout}}
