{{# partial "pageTitle" }}{{ tsAndCsPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <div class="layout-wrap-width">

    <header class="layout-header">
      <h1 class="layout-header__title">{{ tsAndCsPageText.baseText.title }}</h1>
      <p class="layout-header__title layout-header__title--standfirst">
        {{tsAndCsPageText.baseText.explanationText}}
      </p>
    </header>

    <section>

      <p class="layout-text">{{tsAndCsPageText.featureIntro}}</p>
      <ul class="layout-text">
        {{#each tsAndCsPageText.features}}
          <li>{{this}}</li>
        {{/each}}
      </ul>

    </section>

    <section class="layout-section layout-section--no-border">

      <form method="POST" action="{{continueFormUrl}}" >
        <input type="hidden" name="groupCode" value="{{ groupCode }}">
        <input type="hidden" name="returnUrl" value="{{ returnUrl }}">
        <div class="form-field-wrap">
          <button class="form-button form-button--main form-field-wrap__field" type="submit">{{tsAndCsPageText.baseText.continueButtonText}} {{> components/icon/arrow-inline }}</button>
        </div>
      </form>

      <p class="layout-text layout-text--small">{{{tsAndCsPageText.featureOutro}}}</p>

    </section>
    <footer class="layout-section">
      <p class="layout-text layout-text--small">
        {{{ tsAndCsPageText.terms.conditionsText }}}
        {{{ tsAndCsPageText.terms.privacyText }}}
      </p>
    </footer>

  </div>

{{/partial}}
{{> layout}}
