{{# partial "pageTitle" }}{{ twoStepSignInPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <section class="layout-wrap-width">
    <div class="smartlock-trigger" data-csrf-token="{{ csrfToken.value }}" data-return-url="{{ returnUrl }}" role="presentation"></div>

    <div class="ajax-step-flow"><div class="ajax-step-flow__slide">

      <header class="layout-header">
        <h1 class="layout-header__title">{{ twoStepSignInPageText.title }}</h1>
      </header>
      {{# showSupportingParagraph}}
        <p class="layout-text">
          {{{twoStepSignInPageText.supportingParagraph}}}
        </p>
      {{/ showSupportingParagraph }}

      <section class="layout-section layout-section--no-border">
        {{> components/two-step-signin/two-step-signin-start }}
      </section>

      {{> components/form/form-feedback-wrap }}

      <footer class="layout-section">
        {{> components/terms/_terms-inline }}
      </footer>

    </div></div>
  </section>

{{/partial}}

{{> layout}}
