<form action="{{ actions.signIn }}" method="POST">
  <input type="hidden" name="csrfToken" value="{{ csrfToken.value }}">
  <input type="hidden" id="signin_returnUrl" name="returnUrl" value="{{returnUrl}}">
  <input type="hidden" name="skipConfirmation" value="{{skipConfirmation}}">

  {{# group }}
      <input type="hidden" name="groupCode" value="{{ group.id }}">
  {{/ group }}

  {{# clientId }}
    <input type="hidden" name="clientId" value="{{ clientId.id }}">
  {{/ clientId }}

  <div class="smartlock-trigger" data-csrf-token="{{ csrfToken.value }}" data-return-url="{{ returnUrl }}" role="presentation"></div>

  <input class="ga-client-id" type="hidden" name="gaClientId" value="">

    <div class="form-field-wrap">
      <label class="form-field-wrap__title" for="signin_field_email">{{signInPageText.email}}</label>
      <input class="form-field-wrap__field form-input" id="signin_field_email" type="email" name="email" autocomplete="username" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{email}}" />
    </div>

    <div class="form-field-wrap">
      <label class="form-field-wrap__title" for="signin_field_password">{{signInPageText.password}}</label>
      <input class="form-field-wrap__field form-input" id="signin_field_password" type="password" name="password" autocomplete="current-password"/>
      <div class="form-field-wrap__footer u-flexrow">
        <label for="signin_field_remember_me" class="form-checkbox">
          <input id="signin_field_remember_me" class="form-checkbox__input" type="checkbox" name="rememberMe" checked="checked" value="true"/>
          <span class="form-checkbox__label">{{signInPageText.rememberMe}}</span>
        </label>
        <a class="u-link" href="{{forgotPasswordUrl}}">{{signInPageText.forgottenPassword}}</a>
      </div>
    </div>

    {{#if recaptchaModel}}
      <div class="form-field-wrap">
        <div class="g-recaptcha" data-sitekey="{{recaptchaModel.googleSiteKey}}"></div>
      </div>
    {{/if}}

    <div class="form-field-wrap">
      <button class="form-button form-button--main form-field-wrap__field" id="signin_submit" type="submit">{{signInPageText.signIn}} {{> components/icon/arrow-inline }}</button>
    </div>

</form>
