<form class="two-step-signin" method="POST" action="{{ actions.signInWithEmailAndPassword }}">

  {{> components/two-step-signin/_email-header }}

  {{> components/two-step-signin/_helpers }}
  {{> components/form/form-feedback-wrap }}

  <div class="form-field-wrap">
    <p class="layout-text">
      {{twoStepSignInPageText.newUserCreateAccountAction}}
    </p>
    <a href="{{registerUrl}}" class="form-button form-button--main form-field-wrap__field">{{twoStepSignInPageText.registerAction}} {{> components/icon/arrow-inline }}</a>
  </div>

  <div class="layout-section">
    <div class="form-field-wrap">
      <p class="form-field-wrap__title">{{twoStepSignInPageText.newUserCreateSocialAccountAction}}</p>
      {{> components/oauth-cta/_oauth-cta-content }}
    </div>
  </div>

</form>
