<form class="two-step-signin" method="POST" action="{{ actions.signInSecondStepCurrent }}">

  {{> components/two-step-signin/_email-header }}
  {{> components/two-step-signin/_helpers }}

    <div class="form-field-wrap">
      <input class="u-none" name="email" autocomplete="username" value="{{email}}" />
      <label class="form-field-wrap__title" for="tsse-password">{{twoStepSignInPageText.passwordFieldTitle}}</label>
      <input class="form-input form-field-wrap__field" type="password" name="password" id="tsse-password" autocomplete="password" autocapitalize="off" autocorrect="off" spellcheck="false" autofocus="autofocus" value="{{password}}" />
      <div class="form-field-wrap__footer">
        <label class="form-checkbox">
          <input class="form-checkbox__input" type="checkbox" name="rememberMe" checked="checked" value="true"/>
          <span class="form-checkbox__label">{{twoStepSignInPageText.rememberMe}}</span>
        </label>
        <!-- Workaround to avoid corrupted XHR2 request body in IE10 / IE11 -->
        <input type="hidden" name="dont-remove-this">
      </div>
    </div>
    <div class="form-field-wrap">
      <button class="form-button form-button--main form-field-wrap__field" id="tssf-sign-in" type="submit">{{twoStepSignInPageText.signInAction}} {{> components/icon/arrow-inline }}</button>
    </div>

    <div class="layout-section layout-section--no-border">
      <div class="form-field-wrap">
        <a class="form-field-wrap__field u-link layout-text u-block" href="{{forgotPasswordUrl}}">{{twoStepSignInPageText.recoverPasswordAction}}</a>
        <a class="form-field-wrap__field u-link layout-text u-block ajax-step-flow__link" data-is-reverse="true" href="{{signinUrl}}">{{twoStepSignInPageText.changeEmailLink}}</a>
      </div>
    </div>
</form>
