<form class="two-step-signin" method="POST" action="{{ actions.register }}">

  {{> components/two-step-signin/_email-header }}
  {{> components/two-step-signin/_helpers }}

  <p class="layout-text">
    {{twoStepSignInPageText.newUserCreateAccountAction}}
  </p>

  <div class="layout-section layout-section--no-border">

    <div class="form-field-wrap">
      <label class="form-field-wrap__title" for="tsse-email">{{twoStepSignInPageText.emailTitle}}</label>
      <input class="form-input form-field-wrap__field" type="email" name="email" id="tsse-email" autocomplete="username" autocapitalize="off" autocorrect="off" spellcheck="false" readonly value="{{email}}" />
    </div>

    {{> components/register-form/_form-field-name text=twoStepSignInPageText.registerForm }}

    {{> components/register-form/_form-field-phone
      text=twoStepSignInPageText.registerForm askForPhoneNumber=askForPhoneNumber countryCodes=countryCodes
    }}

    {{> components/register-form/_form-field-password text=twoStepSignInPageText.registerForm }}

    {{> components/register-form/_form-field-consent consents=consents }}

    <div class="form-field-wrap">
      <button class="form-button form-button--main form-field-wrap__field" id="tssf-create-account">{{twoStepSignInPageText.registerAction}} {{> components/icon/arrow-inline }}</button>
    </div>
  </div>

  <div class="layout-section layout-section--no-border">
    <div class="form-field-wrap">
      <a class="form-field-wrap__field u-link layout-text u-block ajax-step-flow__link" data-is-reverse="true" href="{{signinUrl}}">{{twoStepSignInPageText.changeEmailLink}}</a>
    </div>
  </div>

</form>
