{{> components/register-form/_form-field-name text=registerFormText }}

{{> components/register-form/_form-field-email
    text=registerFormText emailValidationRegex=emailValidationRegex email=email }}
{{# each errors.emailErrors }}
  <p data-feedback-id="{{ id }}" class="form-feedback form-feedback--error form-feedback--hydratable form-field-wrap__field">{{ message }}</p>
{{/ each }}

{{> components/register-form/_form-field-phone
    text=registerFormText askForPhoneNumber=askForPhoneNumber countryCodes=countryCodes
}}

{{> components/register-form/_form-field-password text=registerFormText }}
{{# each errors.passwordErrors }}
  <p data-feedback-id="{{ id }}" class="form-feedback form-feedback--error form-feedback--hydratable form-field-wrap__field">{{ message }}</p>
{{/ each }}

{{#if shouldCollectConsents }}

  {{#if shouldCollectV2Consents}}
    <div class="form-checkbox">
      <input type="hidden" id="consents_0_actor" name="consents[0].actor" value="user">
      <input type="hidden" id="consents_0_id" name="consents[0].id" value={{ registerFormText.consent.SupporterConsentIdentifier }}>
      <input class="form-checkbox__input" id="register_field_supporter_consent" type="checkbox" name="consents[0].consented" value="true"/>
      <label class="form-checkbox__label" for="register_field_supporter_consent">{{ registerFormText.consent.SupporterConsentText }}</label>
    </div>

  {{/if}}

{{/if}}
