<div class="form-field-wrap">
  <label class="form-field-wrap__title" for="register_field_firstname">{{ text.name }}</label>
  <input class="form-input form-field-wrap__field" id="register_field_firstname" type="text" name="firstName" placeholder="{{ text.firstName }}" title="{{ text.firstOrLastNameHelp }}" required maxlength="25" autocomplete="on" autocapitalize="off" autocorrect="off" spellcheck="false" pattern="^[^:/]*$" />
  <input class="form-input form-field-wrap__field" id="register_field_lastname" type="text" name="lastName" placeholder="{{ text.lastName }}" title="{{ text.firstOrLastNameHelp }}" required maxlength="25" autocomplete="on" autocapitalize="off" autocorrect="off" spellcheck="false" pattern="^[^:/]*$" />
</div>
