<form id="register_form" class="register-form" action="{{ actions.register }}" method="POST">

  <input type="hidden" name="csrfToken" value="{{ csrfToken.value }}">
  <input type="hidden" name="returnUrl" value="{{ returnUrl }}"/>
  <input type="hidden" name="skipConfirmation" value="{{ skipConfirmation }}"/>
  <input type="hidden" name="skipValidationReturn" value="{{ skipValidationReturn }}"/>

  {{# hideDisplayName }}
    <input type="hidden" id="register_field_hideDisplayName" name="hideDisplayName" value="{{ hideDisplayName }}" />
  {{/hideDisplayName}}

  {{# group }}
    <input type="hidden" name="groupCode" value="{{ group.id }}">
  {{/ group }}

  {{# clientId }}
    <input type="hidden" name="clientId" value="{{ clientId.id }}">
  {{/ clientId }}

  <input id="register_ga_client_id" type="hidden" name="gaClientId" value="">

  {{#each errors.otherErrors }}
    <p id="{{ id }}" class="register-form__error">{{ message }}</p>
  {{/ each }}

  {{> components/register-form/_form-fields}}
  <div class="form-field-wrap">
    <button class="form-button form-button--main form-field-wrap__field" id="register_submit" type="submit">{{ registerPageText.createAccount }} {{> components/icon/arrow-inline }}</button>
  </div>

</form>
